<!-- foreach on Gallery -->
<% let bool=true;
for (let i=0; i < shotsInfos.length-1; i++){
  if (bool == true){ %>
    <div class="col-6 d-flex flex-column justify-content-center align-items-center galleryItem titleItem">
      <h2> <span><%- shotsInfos[i].title %></span></h2>
      
      <%- include('../partials/artworksTags', {i : i}); %>
      

    </div>

    <div class="col-6 d-flex justify-content-center align-items-center galleryItem imgItem">
      <img src="<%- shotsInfos[i].images.normal %>">
    </div>
    <% bool = false;
  } else{ %>
    <div class="col-6 d-flex justify-content-center align-items-center galleryItem imgItem">
      <img src="<%- shotsInfos[i].images.normal %>">
    </div>

    <div class="col-6 d-flex flex-column justify-content-center align-items-center galleryItem titleItem">
      <h2> <span><%- shotsInfos[i].title %> </span></h2>

      <%- include('../partials/artworksTags', {i : i}); %>

    </div>
    <% bool = true;
  }
} %>


<style>
  .tag{
    width: fit-content;
    height: fit-content;
    background-color: var(--custom-accent-color);
    margin: 4px;
    padding: 4px 8px;
    border-radius: 12px;
    text-transform: uppercase;
}
</style>
