<!-- foreach on Gallery -->

<% let bool=true;
  for (let i=0; i < shotsInfos.length-3; i++){ %>
    <div class="row gallery-items d-flex flex-row <% shotsInfos[i].tags.forEach(tag => { %><%- tag %> <% }) %>" data-id="<%- shotsInfos[i].id %>">
      <% if (bool == true){ %>
        <div class="order-1 col-2  responsive-hidden-col"></div>
        <div class="order-2 col-md-12 col-lg-3 d-flex flex-column justify-content-center align-items-center textGallery">
      <% }else{ %>
        <div class="order-lg-3 col-md-12 col-lg-3 d-flex flex-column justify-content-center align-items-center textGallery">
      <% } %>
          <a href="project/<%- shotsInfos[i].id %>" class="d-flex justify-content-center align-items-center">
            <h2><%- shotsInfos[i].title %></h2>
          </a>
          
          <%- include('../artworks/artworksTags', {i : i}); %>
        </div>
        <% if (bool == false){ %>
          <div class="order-4 col-2 responsive-hidden-col"></div>
        <% } %>
      <% if (bool == true){ %>
        <div class="order-3 col-md-12 col-lg-5 d-flex justify-content-center align-items-center imgItem">
          <a href="project/<%- shotsInfos[i].id %>" class="d-flex justify-content-end">
          <% }else{ %>
        <div class="order-1 col-2 responsive-hidden-col"></div>
        <div class="order-2 col-md-12 col-lg-5 d-flex justify-content-center align-items-center imgItem">
          <a href="project/<%- shotsInfos[i].id %>" class="d-flex justify-content-start">
      <% } %>
          
            <img src="<%- shotsInfos[i].images.normal %>">
          </a>
        </div>
        <% if (bool == true){ %>
          <div class="order-4 col-2 responsive-hidden-col"></div>
        <% } %>
      </div>
      <% bool = !bool;} %>
  <div id="no-item-message" class="no-item-message d-none justify-content-center align-itmes-center ">
    <h4><strong>Aucun projet n'est disponible pour le moment</strong></h4>
  </div>
  


<style>
.tag{
    width: fit-content;
    height: fit-content;
    background-color: none;
    color: var(--custom-tag-color);
    font-size: var(--custom-tag-size);
    font-weight: var(--custom-tag-weight);
    opacity: 0.8;
    padding: 4px 8px;
    border-radius: 12px;
    text-transform: uppercase;
}

.no-item-message{
  margin-top: 64px;
  margin-bottom: 128px;
}
.gallery-items{
  margin-bottom: 64px;
}
a{
  text-decoration: none;
}
.textGallery h2 {
  text-align: center;
}
.imgItem a {
  width: 100%;
  padding: 0px 0px;
}

.imgItem a img {
  width: 90%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 980px) {
    .responsive-hidden-col {
        display:none!important;
    }

    .tag {
      font-size: var(--custom-tag-responsive-size);
    }
    .imgItem {
      width: 100% ;
    }
    .imgItem a {
      width: 100%;
      padding: 32px 64px;
    }
    .imgItem a img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
}
</style>

<%- include('./artworksGalleryScript.ejs'); %>