<!-- foreach on Gallery -->

<% let bool=true;
  for (let i=0; i < shotsInfos.length-3; i++){ %>
    <div class="gallery-items d-flex flex-row <% shotsInfos[i].tags.forEach(tag => { %><%- tag %> <% }) %>" data-id="<%- shotsInfos[i].id %>">
      <% if (bool == true){ %>
        <div class="order-1 col-6 d-flex flex-column justify-content-center align-items-center galleryItem titleItem">
      <% }else{ %>
        <div class="order-2 col-6 d-flex flex-column justify-content-center align-items-center galleryItem titleItem">
      <% } %>
        <h2> <span><%- shotsInfos[i].title %></span></h2>
          
          <%- include('../artworks/artworksTags', {i : i}); %>

        </div>
      <% if (bool == true){ %>
        <div class="order-2 col-6 d-flex justify-content-center align-items-center galleryItem imgItem">
      <% }else{ %>
        <div class="order-1 col-6 d-flex justify-content-center align-items-center galleryItem imgItem">
      <% } %>
          <img src="<%- shotsInfos[i].images.normal %>">
        </div>
      </div>
      <% bool = !bool;} %>
  <div id="no-item-message" class="no-item-message d-none justify-content-center align-itmes-center ">
    <h5>Aucun projet n'est disponible pour le moment</h5>
  </div>
  


<style>
.tag{
    width: fit-content;
    height: fit-content;
    background-color: var(--custom-accent-color);
    margin: 4px;
    padding: 4px 8px;
    border-radius: 12px;
    text-transform: uppercase;
}
.no-item-message{
  margin-top: 64px;
}
.gallery-items{
  margin-bottom: 64px;
}
</style>

<%- include('./artworksGalleryScript.ejs'); %>