
<div class="row infos-container">
    <div class="col-4 d-flex justify-content-center align-items-center credits">
        <p class="bg-transparent">codé par Nils Boisson et Mathieu Dubart</p>
    </div>

    <div class="col-4 d-flex justify-content-evenly align-items-center socialMediasFooter">
        <a href="<%- userInfos.links.instagram %>" target="_blank"><img id="leftIcon" src="<%- parsed_bio.icon_instagram %>"></a>
        <a href="<%- userInfos.links.linkedin %>" target="_blank"><img id="centerIcon" src="<%- parsed_bio.icon_linkedin %>"></a>
        <a href="https://dribbble.com" target="_blank"><img id="rightIcon" src="<%- parsed_bio.icon_dribbble %>"></a>
    </div>

    <div class="col-4 d-flex justify-content-center align-items-center legalMentions">
        <p class="bg-transparent">Mentions légales</p>
    </div>
</div>
