
<div class="row d-flex justify-content-center align-items-center header">
    <div class="col-md-2 d-flex justify-content-end profilePicture">
        <a href="home"><img src="<%- userInfos.avatar_url %>"></a>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-1 burgerMenu" id="burgerMenu">
        <a><img src="<%- parsed_setting_desc.icon_burger[0] %>"></a>
    </div>
    <div class="col-md-1"></div>
</div>


<div class="navmenu" id="navmenu">
    <div class="container-lg .safari_only"></div>
        <div class="row d-flex justify-content-center align-items-center header">
            <div class="col-md-2 d-flex justify-content-end profilePicture">
                <a href="home"><img src="<%- userInfos.avatar_url %>"></a>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1 burgerMenu" id="closingMenu">
                <a><img src="<%- parsed_setting_desc.icon_close[0] %>"></a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <% for(i=0;i<parsed_setting_desc.menu.length; i++) { %>
                <div class="col-md-2"></div>
                <div class="col-md-10 links-container">
                    <a href="<%- parsed_setting_desc.menu_link[i] %>" class="menu-links"><h1><%- parsed_setting_desc.menu[i] %></h1></a>
                </div>
            <% } %>
        </div>
    </div>
</div> 