<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/aboutMeHead'); %>
</head>
<body class="container col sm-12">
    
    <%- include('../partials/socialMedia'); %>
    
    <header>
        <%- include('../partials/layout/header'); %>
    </header>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xxl-12 d-flex justify-content-start" id="titles"> 
            <h1><%- parsed_setting_desc.menu[3] %></h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xxl-10 d-flex justify-content-center">
            <div class="row d-flex justify-content-center align-items-center">
                <%- include('../partials/aboutMe/aboutMeInfos'); %>
            </div>
        </div>
    </div>
    
    <footer class="footer col sm-12">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
