<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/aboutMeHead'); %>
</head>
<body class="container-lg safari_only">
    
    <%- include('../partials/socialMedia'); %>
    
    <header>
        <%- include('../partials/layout/header'); %>
    </header>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-start">
            <h1><%- parsed_setting_desc.menu[3] %></h1>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <!-- <div class="row col-8 d-flex justify-content-center"> -->
            <%- include('../partials/aboutMe/aboutMeInfos'); %>
        <!-- </div> -->
    </div>

    <footer class="container-fluid d-flex justify-content-center align-tems-center footer">
        <%- include('../partials/layout/footer'); %>
    </footer>

    <script src="/script.js"></script>
</body>
</html>

<style>
    .textProject{
      font-family: var(--custom-p-font);
      font-size: var(--custom-p-size);
      font-weight: var(--custom-p-weight);
      color: var(--custom-p-color);
      background-color: var(--custom-background-color);
    }
    .textProject h1{
      font-family: var(--custom-h1-font);
      font-size: var(--custom-h1-size);
      font-weight: var(--custom-h1-weight);
      color: var(--custom-h1-color);
      letter-spacing: var(--custom-h1-letter-spacing);
    }
    .textProject h2{
      font-family: var(--custom-h2-font);
      font-size: var(--custom-h2-size);
      font-weight: var(--custom-h2-weight);
      color: var(--custom-h2-color);
      letter-spacing: var(--custom-h2-letter-spacing);
    }
</style>