<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/artworksHead'); %>
    <%- include('../partials/backgroundAndFonts') %>
</head>
<body class="container">

  <%- include('../partials/socialMedia'); %>

  <header>
    <%- include('../partials/layout/header'); %>
  </header>
  
  
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-xxl-12 d-flex justify-content-start" id="titles"> 
      <h1><%- parsed_setting_desc.menu[0] %></h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-xxl-12 d-flex justify-content-center align-items-center" id="filters">
      <%- include('../partials/artworks/artworksFilters') %>
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-xxl-1"></div>
    <div class="col-xxl-10 d-flex justify-content-center" id="gallery">
      <div class="row d-flex justify-content-center align-items-center">
        <%- include('../partials/artworks/artworksGallery'); %>
      </div>
    </div>
    <div class="col-xxl-1"></div>
  </div>

  <footer class="footer col sm-12">
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
