<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/homeHead'); %>
    <%- include('../partials/backgroundAndFonts') %>
</head>
<body class="container col sm-12">

  <header>
      <%- include('../partials/layout/header'); %>
  </header>


  <div id="contentContainer">
    <div id="titles"> <h1>MY ARTWORKS</h1> </div>
    <%- include('../partials/titlesCSS'); %>

    <div id="filters"></div>

    <div id="gallery">
      <%- include('../partials/artworksGallery'); %>
    </div>
  </div>

      <div id="socialMedias">
          <%- include('../partials/socialMedia'); %>
      </div>

    <!-- <footer class="footer col sm-12">
        <%# include('../partials/layout/footer'); %>
    </footer> -->

</body>
</html>
