<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/heads/contactHead'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/layout/header'); %>
    </header>

    <div id="contactContainer">
        <div id="contactMe">
            <div class="contactTitles">
                <h1> <%- parsed_setting_desc.menu[3] %> </h1>
            </div>
            </div>
            <div id="socialMedia">
                <%- include('../partials/contactSocialMedia')%>
            </div>
        </div>
        <div id="moreDiv">
            <div class="contactTitle">
                <h2>WANT MORE ?</h2>
            </div>
            <div id="wantMore"></div>
                <%- include('../partials/downloadCvPortfolio')%>
            </div>
        </div>
    </div>

    <div id="QRcode">
        <img src="https://res.cloudinary.com/dizziweb-365p/images/w_300,h_300,c_fill/f_auto,q_auto/v1638452224/qrcode-dizziweb/qrcode-dizziweb.png?_i=AA">
    </div>


    <footer class="container-fluid d-flex justify-content-center align-tems-center footer">
        <%- include('../partials/layout/footer'); %>
    </footer>

    <script src="/script.js"></script>
</body>
</html>
