<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/heads/contactHead'); %>
</head>

<body class="container-lg safari_only no-scroll">

    <header>
        <%- include('../partials/layout/header'); %>
    </header>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-start">
            <h1><%- parsed_setting_desc.menu[2] %></h1>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row d-flex justify-content-center align-items-center contact-first-row">
        <div class="col-2"></div>
        <div class="col-8 d-flex flex-column justify-content-start socials-container" style="margin: 32px 0;">
            <%- include('../partials/contactSocialMedia')%>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row d-flex justify-content-center align-items-center contact-second-row">
        <div class="col-2"></div>
        <div class="col-8 d-flex flex-column justify-content-start socials-container">
            <%- include('../partials/downloadCvPortfolio')%>
        </div>
        <div class="col-2"></div>
    </div>

    <div id="QRcode">
        <img src="<%- parsed_setting_desc.qr_code[0]%>">
    </div>

    <footer class="container-fluid d-flex justify-content-center align-tems-center footer">
        <%- include('../partials/layout/footer'); %>
    </footer>

    <script src="/script.js"></script>
</body>
</html>

<style>
    @media screen and (max-width:980px){
        .contact-first-row, .contact-second-row {
            margin-top: 96px;
        }

        .icon-text {
            padding-left: 24px;
        }
    }
</style>