<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/homeHead'); %>
    <%- include('../partials/heads/labHead'); %>
</head>
<body class="container-lg safari_only no-scroll">
    <header>
        <%- include('../partials/layout/header'); %>
    </header>

    <%- include('../partials/socialMedia'); %>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-2"></div>
        <div class="col-10 d-flex justify-content-start">
            <h1><%- parsed_setting_desc.menu[1] %></h1>
        </div>
    </div>

    <div class="filter-container">
        <div class="filters button-group js-radio-button-group device-type">
            <a href="#memory-content"><button class="button" id="memory">Memory</button></a>
            <a href="#morpion-content"><button class="button" id="morpion">Tic Tac Toe</button></a>
            <a href="#pong-content"><button class="button" id="pong">Pong</button></a>
            <button class="button d-none" id="clear">clear console</button>
        </div>
    </div>

    <div id="memory-content" class="games-content">
        <div class="gameboy-container">
            <img src="<%= parsed_lab_desc.switch[0] %>" alt="gameboy" class="gameboy-img">
            <div class="game" id="game"><script id="gameScript" src="<%-  parsed_lab_desc.images[0] %>" ></script></div>
        </div>
    </div>

    <div id="morpion-content" class="games-content">
        <div class="gameboy-container">
            <img src="<%= parsed_lab_desc.switch[0] %>" alt="gameboy" class="gameboy-img">
            <div class="game" id="game"><script id="gameScript" src="<%-  parsed_lab_desc.images[1] %>" ></script></div>
        </div>
    </div>

    <div id="pong-content" class="games-content">
        <div class="gameboy-container">
            <img src="<%= parsed_lab_desc.switch[0] %>" alt="gameboy" class="gameboy-img">
            <div class="game" id="game"><script id="gameScript" src="<%-  parsed_lab_desc.images[2] %>" ></script></div>
        </div>
    </div>

    <div class="spacer"></div>
    <footer class="container-fluid d-flex justify-content-center align-tems-center footer">
        <%- include('../partials/layout/footer'); %>
    </footer>

    <script src="/script.js"></script>
</body>
</html>

<script>
    let gameScript = document.getElementById('gameScript');
    let memory = document.getElementById('memory');
    let morpion = document.getElementById('morpion');
    let pong = document.getElementById('pong');
    let clear = document.getElementById('clear');
    let game = document.querySelector('.game');
    let buttons = document.querySelectorAll('.button');

    memory.addEventListener('click', function() {
        document.location.href = "#memory-content";
        location.reload();
    });
    morpion.addEventListener('click', function() {
        document.location.href = "#morpion-content";
        location.reload();
    });
    pong.addEventListener('click', function() {
        document.location.href = "#pong-content";
        location.reload();
    });



    
    // let gamesLength = <%# parsed_lab_desc.images.length %>;
    // let rawTab = <%# JSON.stringify(parsed_lab_desc.images) %>;
    // let tab = [];

    // for (let i = 0; i < gamesLength ; i++){
    //     tab[i] = rawTab[i];
    // }
    
    // [memory, morpion, pong].forEach(elm => {
    //     elm.addEventListener("click", () => {
    //         if(elm.id=="memory") {
    //             var newScript = document.createElement("script");
    //             newScript.src = tab[0];
    //             game.innerHTML = "";
    //             game.appendChild(newScript);
    //         } else if (elm.id=="morpion") {
    //             var newScript = document.createElement("script");
    //             newScript.src = tab[1];
    //             game.innerHTML = "";
    //             game.appendChild(newScript);
    //         }else{
    //             var newScript = document.createElement("script");
    //             newScript.src = tab[2];
    //             game.innerHTML = "";
    //             game.appendChild(newScript);
    //         }
    //     })
    // });
</script>


<style>
    body{
        grid-template-rows: 0fr 0fr 1fr !important;
    }
    .spacer{
        flex: 1;
    }
    .game{
        width: 400px;
        height: 400px;
        position: absolute;
        top: calc(50% - 200px);
        left: calc(50% - 200px);
        overflow: hidden;
    }

    .games-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 64px;
    }

    .gameboy-container {
        width: 900px;
        height: 440px;
        position: relative;
        
    }

    .gameboy-container img {
        width: 100%;
        height: 100%;
    }
    .game-embed{
        position: absolute;
        top: 0;
        left: 0;
    }
    .filter-container{
    margin-bottom: 64px;
    }
    .filters {
        margin-top: 40px;
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .filters button {
        padding: 10px 25px;
        margin: 5px 5px;
        background-color: #121212;
        border: none;
        border-radius: 10px;
        transition: 150ms;
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        font-weight: 700;
        position: relative;
        outline: none;
        cursor: pointer;
    }
    .filters button.is-checked {
    background-color: whitesmoke;
    border: 1px solid #121212;
    color: #121212;
    }

    #memory-content, #morpion-content, #pong-content {
        display: none;
    }
    #memory-content:target{
        display: flex;
    }
    #morpion-content:target{
        display: flex;
    }
    #pong-content:target{
        display: flex;
    }
</style>

<%- include('../partials/artworks/artworksFiltersScript.ejs'); %>
