<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/homeHead'); %>
    <%- include('../partials/backgroundAndFonts') %>
    <%- include('../partials/heads/labHead'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/layout/header'); %>
    </header>

    <div id="socialMedias">
        <%- include('../partials/socialMedia'); %>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xxl-12 d-flex justify-content-start" id="titles"> 
            <h1><%- parsed_setting_desc.menu[1] %></h1>
        </div>
    </div>

</body>
</html>
