<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/homeHead'); %>
</head>
<body class="container col sm-12">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div id="personnalLogo">
            <img src="">
            <p>Inserer Image SVG ICI</p>
        </div>
        <div id="socialMedias">
            <a href="<%- userInfos.links.instagram %>" target="_blank"><img id="instagramIcon" src="https://icones.pro/wp-content/uploads/2021/02/instagram-icone-noir.png"></a>
            <a href="<%- userInfos.links.linkedin %>" target="_blank"><img id="linkedInIcon" src="https://cdn-icons-png.flaticon.com/512/61/61109.png"></a>
            <a href="https://dribbble.com" target="_blank"><img id="dribbbleIcon" src="https://cdn.iconscout.com/icon/free/png-256/dribbble-33-90225.png"></a>
        </div>
        <div id="personnalText">
            <p> <%- parsed_bio.text_bio[0] %> <%- parsed_bio.text_bio[1] %></p>
        </div>
        <div id="diveButton">
            <p>Let's dive right in</p>
        </div>
    </main>

</body>
<style>
    *{
        margin:0;
        padding:0;
    }

    body, html{
        height:100%;
    }

    #personnalLogo{
        background-color:red;
        width:25em;
        height:25em;
        margin-top:5%;
        margin-left:50%;
        margin-right:20em;
    }
    #personnalLogo p{
        text-align:center;
        margin-top:100px;
    }

    #socialMedias{
        width: fit-content;
        height: fit-content;
        position:absolute;
        display:grid;
        float:right;
        margin-left:90%;
        margin-top:-30vh;
        /* border: 1px solid red; */
    }
    /* #socialMedias a{
        max-width:3em;
        margin-bottom:1.5em;
    } */
    #socialMedias a{
      width: 50px;
      height: 50px;
      margin: 8px;
      /* border: 1px solid black; */
    }
    #instagramIcon, #linkedInIcon, #dribbbleIcon{
      width: 50px;
      height: 50px;
    }

    #personnalText{
        width:65%;
        margin-left:18%;
        margin-top:1em;
    }
    #personnalText p{
        font-family: "Roboto", sans-serif;
        font-size:4em;
    }
    #personnalText span{
        color:#3AA76F;
    }
    #diveButton{
        background-color:black;
        width:20em;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    #diveButton p{
        color:white;
        font-size:2em;
        padding-top:20px;
        padding-right:20px;
        padding-left:20px;
        padding-bottom:20px;
        text-align:center;
        font-family:"roboto", sans-serif;
    }

</style>
</html>
