<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/homeHead'); %>
</head>
<body class="container-lg homepage-body">
    
    <%- include('../partials/socialMedia'); %>
    
    <header>
        <%- include('../partials/layout/header'); %>
    </header>


    <main>
        <div id="personnalLogo">
            <img src="<%- parsed_bio.image_home[0] %>"  id="imgHome">
        </div>

        <div class="d-flex justify-content-md-center justify-content-lg-start align-items-end" id="personnalText">
            <h1> <%- parsed_bio.text_bio[0] %> <%- parsed_bio.text_bio[1] %></h1>
        </div>

        <div id="diveButton">
            <a href="artworks">
                <p class="d-flex justify-content-center align-items-center"> <%- parsed_bio.text_button[0] %></p>
            </a>
        </div>
    </main>

    <script src="/script.js"></script>
</body>
</html>
