<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/homeHead'); %>
</head>
<body class="container-lg homepage-body safari_only no-scroll">

    <%- include('../partials/socialMedia'); %>
    
    <header>
        <%- include('../partials/layout/header'); %>
    </header>


    <main>
        <div id="personnalLogo">
            <img src="<%- parsed_bio.image_home[0] %>"  id="imgHome">
        </div>

        <div class="d-flex justify-content-md-center justify-content-lg-start align-items-start" id="personnalText">
            <h1><%- parsed_bio.text_bio[0] %> <span class="description" id="typed-desc"></span> </h1>
        </div>

        <div id="diveButton">
            <a href="artworks">
                <p class="d-flex justify-content-center align-items-center bg-transparent"> <%- parsed_bio.text_button[0] %></p>
            </a>
        </div>
    </main>

    <script>

        // ********************** Typing text **********************//
        let tabLength = <%- parsed_bio.text_bio.length %>;
        let rawTab = <%- JSON.stringify(parsed_bio.text_bio) %>;
        let descTab = [];
        
        for (let i = 1; i <= tabLength-1 ; i++){
            descTab[i-1] = rawTab[i];
            console.log(descTab);
        }

        // Selecting the element with the data-desc attribute and the element with the id typed-desc.
        const typedDesc = document.getElementById("typed-desc");

        // Creating a new instance of the Typed class.
        let typed = new Typed(typedDesc, {
            strings: descTab,
            typeSpeed: 70,
            backSpeed: 50,
            backDelay: 3000,
            loop: true,
            showCursor: true
        });
        
    </script>
    <script src="/script.js"></script>
</body>
</html>
