<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/homeHead'); %>
</head>
<body class="container homepage-body">
    
    <%- include('../partials/socialMedia'); %>
    
    <header>
        <%- include('../partials/layout/header'); %>
    </header>


    <main>
        <div id="personnalLogo">
            <img src="<%- parsed_bio.image_home[0] %>"  id="imgHome">
        </div>

        <div class="d-flex align-items-end" id="personnalText">
            <p> <%- parsed_bio.text_bio[0] %> <%- parsed_bio.text_bio[1] %></p>
        </div>

        <div id="diveButton">
            <a href="artworks">
                <p class="d-flex justify-content-center align-items-center">Let's dive right in</p>
            </a>
        </div>
    </main>

    <script src="/script.js"></script>
</body>
</html>
