<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/homeHead'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/layout/header'); %>
    </header>

    <main>
        <div id="personnalLogo">
            <img src="<%- parsed_bio.image_home[0] %>"  id="imgHome">
        </div>
        <div id="socialMedias">
            <%- include('../partials/socialMedia'); %>
        </div>
        <div id="personnalText">
            <p> <%- parsed_bio.text_bio[0] %> ceci est un test deploy auto</p>
        </div>
        <div id="diveButton">
            <p>Let's dive right in</p>
        </div>
    </main>

    <!-- <footer class="footer col sm-12">
        <%# include('../partials/layout/footer'); %>
    </footer> -->
</body>
</html>
