<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/homeHead'); %>
    <%- include('../partials/heads/labHead'); %>
</head>
<body class="container-lg safari_only no-scroll">

    <header>
        <%- include('../partials/layout/header'); %>
    </header>

    <%- include('../partials/socialMedia'); %>

    <div class="row d-flex justify-content-center align-items-center" id="top">
        <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-start">
                <h1><%- parsed_setting_desc.menu[1] %></h1>
            </div>
        <div class="col-2"></div>
    </div>
    
    <div class="row d-flex lab">

        <% let colBool = true;
            let labLength = parsed_lab_desc.images.length;
            for(j=0; j < labLength; j++) {
                if (colBool==true) { %>
                    <div class="col-md-0 col-lg-3 d-flex justify-content-center align-items-center "></div>
                    
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center align-items-center lab-img">
                        <img src="<%- parsed_lab_desc.images[j] %>">
                    </div>

                <% colBool = false;
                    } else {%>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center align-items-center lab-img">
                        <img src="<%- parsed_lab_desc.images[j] %>">
                    </div>
                    <div class="col-md-0 col-lg-3 d-flex justify-content-center align-items-center"></div>
                <% colBool = true;
                }
            } %>
    </div>

    <div class="row up-arrow-container">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <a href="#top"> <div class="arrowLinkProjects arrowUp">
          <img src="<%- parsed_setting_desc.icon_arrow[0] %>">
        </div> </a>
      </div>
    </div>

    
    <footer class="container-fluid d-flex justify-content-center align-tems-center footer">
        <%- include('../partials/layout/footer'); %>
    </footer>

    <script src="/script.js"></script>
</body>
</html>
