<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/homeHead'); %>
    <%- include('../partials/backgroundAndFonts') %>
    <%- include('../partials/heads/labHead'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/layout/header'); %>
    </header>
    <div id="socialMedias">
        <%- include('../partials/socialMedia'); %>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h1><%- parsed_setting_desc.menu[1] %></h1>
        </div>
    </div>
    
    <div class="row d-flex lab">

        <% let colBool = true;
            let labLength = parsed_lab_desc.images.length;
            for(j=0; j < labLength; j++) {
                if (colBool==true) { %>
                    <div class="col-sm-4 col-lg-3 d-flex justify-content-center align-items-center"> <p id="mobileNumbers<%-j%>" class="mobile-numbers d-none"> <% if(j<9) { %> 0<%-j+1%> <%} else {%> <%-j+1%> <%}%> </p></div>
                    <div class="col-sm-8 col-lg-3 d-flex justify-content-center align-items-center lab-img">
                        <img src="<%- parsed_lab_desc.images[j] %>">
                    </div>
                        

                <% colBool = false;
                    } else {%>
                    <div class="col-sm-8 col-lg-3 d-flex justify-content-center align-items-center lab-img">
                        <img src="<%- parsed_lab_desc.images[j] %>">
                    </div>
                    <div class="col-sm-4 col-lg-3 d-flex justify-content-center align-items-center"> <p id="mobileNumbers<%-j%>" class="mobile-numbers d-none"> <% if(j<9) { %> 0<%-j+1%> <%} else {%> <%-j+1%> <%}%> </p></div>
                <% colBool = true;
                }
            } %>
    </div>


    
    <!-- <footer class="footer col sm-12">
    <%# include('../partials/footer'); %>
    </footer> -->

    <script>
        let numberPosts = <%= labLength %>;
    </script>
        <%- include ('../partials/bottom/bottomScripts'); %>
</body>
</html>
