      <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
        <link rel="stylesheet" href="/style/projects.css">
        <link rel='preconnect' href='https://fonts.googleapis.com'>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <!-- <script src="./index.js"></script> -->
        <%- include('../partials/heads/homeHead'); %>

    </head>

    <body class="container-lg safari_only no-scroll">
      <header>
          <%- include('../partials//layout/header'); %>
      </header>

      <%- include('../partials/socialMedia'); %>
<!-- ######################################### INTRO PROJECT ######################################### -->

      <div class="row d-flex justify-content-center align-items-center project-intro" id="top">

        <div class="col-2 col-md-2 col-lg-2"></div>
        <div class="col-1 col-md-1 col-lg-1 d-flex justify-content-end align-items-start">
        <% for(let j=0;j<shotsInfos.length;j++) {
              if (shotsInfos[j].id == shotsInfos.shotId) {
                if(j===0) {%>
                  
              <% } else { %>
                <a href="<%= shotsInfos[j-1].id %>">
                  <div class="arrowLinkProjects arrowLeft">
                    <img src="/images/Vector_41.svg">
                  </div>
                </a>
              <%}
            }
        } %>
        </div>

        <div class="col-md-6 col-lg-6 d-flex justify-content-center align-items-center title-project">
          <% shotsInfos.forEach(project => {
            if (project.id == shotsInfos.shotId) {%>
              <h1><%-project.title %></h1>
              <% currentProject = project;
            }
          }) %>
          

        </div>

        <div class="col-1 col-md-1 col-lg-1 d-flex justify-content-start align-items-start">
          <% for(let j=0;j<shotsInfos.length-4;j++) {
              if (shotsInfos[j].id == shotsInfos.shotId) {
                if(j===shotsInfos.length) {%>
                  
                <% } else { %>
                  <a href="<%= shotsInfos[j+1].id %>">
                    <div class="arrowLinkProjects">
                      <img src="/images/Vector_41.svg">
                    </div>
                  </a>
                <%}
              }
          } %>
        </div>
        <div class="col-2 col-md-2 col-lg-2"></div>
      </div>
    
    <div class="row cover-row">
      <div class="col-lg-2"></div>
      <div class="col-md-12 col-lg-8 cover-projet"><img src="<%= currentProject.images.hidpi ? currentProject.images.hidpi : currentProject.images.normal %>" alt="<%= currentProject.title %>" class="img-fluid"> </div>
      <div class="col-lg-2"></div>
    </div>
    
<!-- ########################## TAGS / DATE AND MOUSE ########################## -->

    <div class="row tags-mouse-container">
      <div class="col-md-1 col-lg-2"></div>
      <div class="col-md-10 col-lg-7 d-flex flex-column justify-content-start tags-project">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-start align-items-center project-date">
            <h4> <%- project_date %> </h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 d-flex inline-flex justify-content-start align-items-center tags-container">
            <% currentProject.tags.forEach(tag => { %>
              <h5><%- tag %></h5>
            <% }) %>
          </div>
        </div>
      </div>

      <div class="col-md-1 col-lg-1 mouse-container">
        <div class="col-md-12 d-flex flex-column justify-content-center tags-project">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center mouse">
              <img src="<%- parsed_setting_desc.icon_mouse[0] %>">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 d-flex inline-flex justify-content-end align-items-center scroll-msg">
              <h2> SCROLL </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-2"></div>
    </div>

<!-- ########################## DESCRIPTION PROJECT (SOUS FORME DE GALLERY) ########################## -->

    <div class="row brief-title">
      <div class="col-md-1 col-lg-2"></div>
      <div class="col-md-10 col-lg-8">
        <h2>Brief:</h2>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row brief-content">
      <div class="col-md-1 col-lg-2"></div>
      <div class="col-md-10 col-lg-8">
        <p><%- project_brief %></p>
      </div>
      <div class="col-md-1 col-lg-2"></div>
    </div>

    <% var imgIsFirst = false; %>
    <div class="row">
      <% project_gallery_array.forEach(item => {
        if (helper.isImg(item) == false){
          if (imgIsFirst) { %>
            <div class="col-md-5 col-lg-4 d-flex flex-column justify-content-center align-items-start">
              <div class="textProject"><%- item %></div>
            </div>
            <div class="col-md-1 col-lg-2"></div>
            <% imgIsFirst = false;
          } else { %>
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-5 col-lg-4 d-flex flex-column justify-content-center align-items-start">
              <div class="textProject"><%- item %></div>
            </div>
            <% imgIsFirst = true;
          } %>

        <% } else { %>
          
          <% if(imgIsFirst) { %>
            <div class="col-md-5 col-lg-4 d-flex align-items-end justify-content-end">
              <img src="<%- item %>" class="imgContentProjet">
            </div>        
            <div class="col-md-1 col-lg-2"></div>
            <% imgIsFirst = false;
          } else { %>
            <div class="col-md-1 col-lg-2"></div>         
            <div class="col-md-5 col-lg-4 d-flex align-items-start justify-content-start">
              <img src="<%- item %>" class="imgContentProjet">
            </div>
            <% imgIsFirst = true;
          }
        }
      }) %>
        
    </div>

    <div class="row up-arrow-container">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <a href="#top"> <div class="arrowLinkProjects arrowUp">
          <img src="/images/Vector_41.svg">
        </div> </a>
      </div>
    </div>

    <footer class="container-fluid d-flex justify-content-center align-tems-center footer">
      <%- include('../partials/layout/footer'); %>
    </footer>

    <script src="/script.js"></script>
  </body>
  </html>

  <style>

    .arrowLinkProjects {
      height: 25px;
    }
    
    .arrowLinkProjects img {
      height: 25px;
    }
    
    .arrowLeft {
      transform: rotate(180deg);
    }
    
    .arrowUp {
      transform: rotate(270deg);
    }
    
    .up-arrow-container {
      margin-bottom: 64px;
    }

    .title-project {
      text-align: center!important;
    }

    .tags-mouse-container {
      margin-top: 8px;
    }
    
    .mouse {
      height: 37px;
    }

    .mouse img {
      width: 32px;
      height: 32px;
    }

    .scroll-msg h2 {
      font-size: 20px;
      margin-top: 6px;
      margin-bottom:0px;
    }

    .brief-title h2{
      margin-top: 16px;
    }

    @media screen and (max-width: 980px) {
      .mouse-container {
        display: none;
      }

      .arrowLinkProjects {
        height: 50px;
      }

      .arrowLinkProjects img {
        height: 50px;
      }

    }
  </style>