      <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
        <link rel="stylesheet" href="/style/projects.css">
        <link rel='preconnect' href='https://fonts.googleapis.com'>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <!-- <script src="./index.js"></script> -->
        <%- include('../partials/heads/homeHead'); %>

    </head>

    <body class="container-lg safari_only">
      <header>
          <%- include('../partials//layout/header'); %>
      </header>

      <%- include('../partials/socialMedia'); %>
<!-- ######################################### INTRO PROJECT ######################################### -->

      <div class="row d-flex justify-content-center align-items-center project-intro" id="top">

        <div class="col-2 col-md-2 col-lg-2"></div>
        <div class="col-1 col-md-1 col-lg-1 d-flex justify-content-end align-items-start">
        <% for(let j=0;j<shotsInfos.length;j++) {
              if (shotsInfos[j].id == shotsInfos.shotId) {
                if(j===0) {%>
                  
              <% } else { %>
                <a href="<%= shotsInfos[j-1].id %>">
                  <div class="arrowLinkProjects arrowLeft">
                    <img src="/images/Vector_41.svg">
                  </div>
                </a>
              <%}
            }
        } %>
        </div>

        <div class="col-md-6 col-lg-6 d-flex justify-content-center align-items-center title-project">
          <% shotsInfos.forEach(project => {
            if (project.id == shotsInfos.shotId) {%>
              <h1><%-project.title %></h1>
              <% currentProject = project;
            }
          }) %>
          

        </div>

        <div class="col-1 col-md-1 col-lg-1 d-flex justify-content-start align-items-start">
          <% for(let j=0;j<shotsInfos.length-4;j++) {
              if (shotsInfos[j].id == shotsInfos.shotId) {
                if(j===shotsInfos.length) {%>
                  
                <% } else { %>
                  <a href="<%= shotsInfos[j+1].id %>">
                    <div class="arrowLinkProjects">
                      <img src="/images/Vector_41.svg">
                    </div>
                  </a>
                <%}
              }
          } %>
        </div>
        <div class="col-2 col-md-2 col-lg-2"></div>
      </div>
    
    <div class="row cover-row">
      <div class="col-lg-2"></div>
      <div class="col-md-12 col-lg-8 cover-projet"><img src="<%= currentProject.images.hidpi ? currentProject.images.hidpi : currentProject.images.normal %>" alt="<%= currentProject.title %>" class="img-fluid"> </div>
      <div class="col-lg-2"></div>
    </div>
    
<!-- ########################## DESCRIPTION PROJECT (SOUS FORME DE GALLERY) ########################## -->

    <div class="row brief-title">
      <div class="col-2"></div>
      <div class="col-8">
        <h2>Brief:</h2>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <p><%- project_brief %></p>
      </div>
      <div class="col-2"></div>
    </div>

    <% var imgIsFirst = false; %>
    <div class="row">
      <% project_gallery_array.forEach(item => {
        if (helper.isImg(item) == false){
          if (imgIsFirst) { %>
            <div class="col-4 d-flex flex-column justify-content-center align-items-start textProject">
              <%- item %>
            </div>
            <div class="col-2"></div>
            <% imgIsFirst = false;
          } else { %>
            <div class="col-2"></div>
            <div class="col-4 d-flex flex-column justify-content-center align-items-start textProject">
              <%- item %>
            </div>
            <% imgIsFirst = true;
          } %>

        <% } else { %>
          
          <% if(imgIsFirst) { %>
            <div class="col-4 d-flex align-items-end justify-content-end">
              <img src="<%- item %>" class="imgContentProjet">
            </div>        
            <div class="col-2"></div>
            <% imgIsFirst = false;
          } else { %>
            <div class="col-2"></div>         
            <div class="col-4 d-flex align-items-start justify-content-start">
              <img src="<%- item %>" class="imgContentProjet">
            </div>
            <% imgIsFirst = true;
          }
        }
      }) %>
        
    </div>

    <div class="row up-arrow-container">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <a href="#top"> <div class="arrowLinkProjects arrowUp">
          <img src="/images/Vector_41.svg">
        </div> </a>
      </div>
    </div>

    <footer class="container-fluid d-flex justify-content-center align-tems-center footer">
      <%- include('../partials/layout/footer'); %>
    </footer>

    <script src="/script.js"></script>
  </body>
  </html>

  <style>

    .arrowLinkProjects {
      height: 50px;
    }

    .arrowLinkProjects img {
      height: 50px;
    }
    
    .arrowLeft {
      transform: rotate(180deg);
    }

    .arrowUp {
      transform: rotate(270deg);
    }

    .up-arrow-container {
      margin-bottom: 64px;
    }

    .title-project {
      text-align: center!important;
    }

    .textProject{
      font-family: var(--custom-p-font);
      font-size: var(--custom-p-size);
      font-weight: var(--custom-p-weight);
      color: var(--custom-p-color);

    }
    .textProject h1{
      font-family: var(--custom-h1-font);
      font-size: var(--custom-h1-size);
      font-weight: var(--custom-h1-weight);
      color: var(--custom-h1-color);
    }
    .textProject h2{
      font-family: var(--custom-h2-font);
      font-size: var(--custom-h2-size);
      font-weight: var(--custom-h2-weight);
      color: var(--custom-h2-color);
    }
  </style>