      <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <link rel='preconnect' href='https://fonts.googleapis.com'>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <!-- <script src="./index.js"></script> -->
        <%- include('../partials/homeHead'); %>

        <%- include('../partials/backgroundAndFonts') %>

    </head>

    <body>
      <header>
          <%- include('../partials/header'); %>
      </header>


<!-- ######################################### INTRO PROJECT ######################################### -->

        <!-- <div id="IntroProjectContainer">
          <div id="titleProject">

          </div>
          <div id="imageProjetMain">
            <img src="<%# shotsInfos. %>"
          </div>
        </div> -->

<!-- ########################## DESCRIPTION PROJECT (SOUS FORME DE GALLERY) ########################## -->

        <div id="galleryContainer">
          <% projectGalleryArray.forEach(item => {
            if (helper.isImg(item) == false){ %>
              <p class="textProject"> <%- item %> </p>
          <% }else{ %>
              <img src="<%- item %>" class="imgProjet">
          <% }
          }) %>
        </div>

        <style>
          #galleryContainer{
            width: 100vw;
            height: fit-content;
            border: 1px solid red;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
          }
        </style>

<!-- ############################################ FOOTER ############################################ -->
    <!-- <footer class="footer col sm-12">
        <%# include('../partials/footer'); %>
    </footer> -->

  </body>
  </html>
